
@media only screen and (max-width: 1280px){
  
  /* Change hover effect on navbar*/
  header a.home{
    border: none;
  }
  
  header a.home:hover{
    border: none;
    color: #fff;
  }

  header .nav-link:hover {
    border-bottom: none;
    color: #fff;
  }

  header h2.navbar-brand {
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 1024px){
  
  div.middle{
    position: absolute;
    top: 67%;
  }
  .section-1{
    padding-bottom: 0;
  }

  .section-1 .chef-intro p{
    font-size: 1rem;
  }
  
  .section-1 .chef-name p{
    font-size: 2.5rem;
  }

  .section-1 .about-chef p{
    font-size: 1rem;
    padding: 1.5em;
  }

  .section-1 .headchef img{
    position: relative;
    top: 70px;
  }

  .section-2 .open-pic img{
    width: 100%;
    top: 200px;
  }

  .info .column .ic{
    padding: 0.1em;
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 768px){
  header .container .col-md-7 h1 {
    font-size: 10vmin;
  }

  div.middle{
    position: absolute;
    top: 73%;
  }
}

@media only screen and (max-width: 440px){
  div.middle{
    position: absolute;
    top: 77%;
  }

  .section-1 .row .col-md-6 .headchef img {
    padding-top: 5rem;
    width: 100%;
  }

  .section-2 .open-pic img{
    position: static;
    padding-bottom: 3rem;
    width:90%;
  }

}

