@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

@font-face {
  font-family: KGHappySolid;
  src: url(../css/fonts/KG\ HAPPY\ Solid.ttf);
}

@font-face {
  font-family: KGHappy;
  src: url(../css/fonts/KGHAPPY.ttf);
}

@font-face {
  font-family: KGHappyShadow;
  src: url(../css/fonts/KGHAPPYShadows.ttf);
}

html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body{
  font-family: KGHappySolid;
}

header,section {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
}

/*Navigation bar padding*/
header .navbar{
  padding-top: 0.5em;
}

header .nav-item:last-child {
  padding-right: 2em;
}

header .nav-item {
  padding: 0.5em 0.5em 0.2em 0.5em;
}

header .navbar-brand {
  padding: 0 1em;
}

header .nav-link{
  padding: 0.1em 0.5em 0.1em 0.5em;
}

/*Navigation bar style*/
header h2.navbar-brand{
  font-size: 2.7em;
  color: #000;
  font-family: KGHappy;
  margin: 0;
}

header a {
  font-family: KGHappySolid;
  font-size: 1.2em;
  color: #000;
}

header a.home{
  border: 2.4px solid #000;
  border-radius: 0.5em;
}

header a.home:hover{
  border: 2.4px solid #fff;
  border-radius: 0em;
}

header .nav-link:hover {
  border-bottom: 2.4px solid #fff;
  color: #000;
}

header .nav-link:hover {
  color: black;
}

header button.btn{
  background-color: transparent !important;
}

/*Header style*/
header .row .col-md-7 {
  padding: 20vmin 1vmin 35vmin;
}

header .row .col-md-5 {
  padding: 17vmin 1vmin;
}

header .row .col-md-5 img {
  width: 100%;
}

header {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(../images/header_background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

header .container .col-md-7 h6 {
  font-family: "Rubik", sans-serif;
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-family: KGHappySolid;
  font-size: 7.3vmin;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  font-family: "Rubik", sans-serif;
  padding: 1vmin 5vmin;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.815);
  transition: all 0.3s ease-in !important;
}

div.middle{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.button{
  background: none;
  border: 3px solid #000;
  font-family: KGHappySolid;
  text-transform: uppercase;
  padding: 17px 27px;
  min-width: 200px;
  margin: 0;
  cursor: pointer;
  transition: color 0.4s linear;
}

.button:hover{
  color: #fff;
}

.button::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.button1::before{
  transform: scaleY(0);
}

.button1:hover::before{
  transform: scaleY(1);
}

main{
  background-image: url(../images/Home-Background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

/********** section 1 **************/

.section-1 {
  padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .headchef img {
  opacity: 0.9;
  width: 80%;
  border-radius: 0.2em;
  padding: 0 1em;
}

.section-1 .row .col-md-6:first-child {
  position: relative;
  top: 30px;
  width: 100%;
  min-height: 1px;
}

.section-1 .chef-intro p{
  margin-bottom: 0;
  padding: 1em;
  display: inline-block;
  background-color: #4D7C8C;
  color: #fff;
  font-family: KGHappySolid;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.section-1 .chef-intro{
  margin-bottom: 20px;
}

.section-1 .chef-name p{
  margin-bottom: 0;
  padding: 0.3em 0.5em;
  display: inline-block;
  background-color: rgb(228, 227, 227);
  color: #000;
  font-family: KGHappy;
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
}

.section-1 .chef-name{
  margin-bottom: 40px;
}

.section-1 .about-chef p{
  padding: 4em;
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: KGHappySolid;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.5;
}

/**********Section-2****************/
.section-2{
  padding-top: 20vmin; 
}

.section-2 .container .row .col-xl-12{
  text-align: center;
}

.section-2 .container .row .col-xl-12 p{
  padding: 0.2em;
  display: inline-block;
  background-color: rgb(228, 227, 227);
  font-family: KGHappy;
  display: inline-block;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.5;
}

.section-2 .container .row .menu {
  padding: 1em;
}

.section-2 .container .row .menu img {
  padding: 1em;
  width: 300px;
  height: 236px;
}

.section-2 .container .row .menu .content{
  background-color: #000;
  color: #fff;
  padding: 1em;
}

.section-2 .container .row .menu .content span{
  color: orange;
  font-size: 2em;
}


/**********Section-3****************/

.section-3 {
  padding: 20vmin 0vmin;
}

.section-3 .open-pic img{
  position: relative;
  top: 150px;
  opacity: 0.9;
}

.section-3 .open-intro p{
  margin-bottom: 0;
  padding: 1em;
  display: inline-block;
  background-color: #7C4C54;
  color: #fff;
  font-family: KGHappySolid;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.section-3 .open-intro{
  margin-bottom: 10px;
}

.section-3 .open-hours p{
  margin-bottom: 0;
  padding: 0.3em 0.5em;
  display: inline-block;
  background-color: #E96160;
  color: #000;
  font-family: KGHappy;
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
}

.section-3 .open-hours{
  margin-bottom: 30px;
}

.section-3 .about-open{
  justify-content: center;
  padding: 2em 2em 0 2em;
  display: inline-block;
  background-color: #000;
}

.section-3 .about-open table{
  color: #fff;
  font-family: KGHappySolid;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
}
/**********Section-5*******/

.section-5{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: KGHappySolid;
  min-height: 100vh;
  background-color: transparent;
}
.section-5{
  background:transparent;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.section-5 .swiper-container {
  width: 100%;
  padding: 50px 0;
}
.section-5 .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 650px;
  border-radius: 20px;
  background: #fff;
}
.section-5 .swiper-container .swiper-slide .imgBx {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  border: 0.5em solid #fff;
}

.section-5 .swiper-container .swiper-slide .imgbx {
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

#st{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url(../images/body-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.section-5 .swiper-container .swiper-slide .imgbx .text{
  position: relative;
  top: 25%;
  text-align: center;
}

.section-5 .swiper-container .swiper-slide .imgbx .text h1{
  transform: scaleX(0);
  transform-origin: left;
  animation: texttravelreverse 1s ease-in-out forwards;
  animation-delay: 0.5s;
  font-size: 7em;
  font-family: KGHappy;
  display: inline-block;
  color: #fff;
  line-height: 1.5em;
  width: 100%;
}

@keyframes texttravelreverse{
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}

.section-5 .swiper-container .swiper-slide .imgBx img{
  width: 100%;
}

.section-5 .swiper-container .swiper-slide .imgbx img{
  height: 100%;
}

.section-5 .swiper-container .swiper-slide .content{
  box-sizing: border-box;
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  color: gray;
}
.section-5 .swiper-container .swiper-slide .content h3{
  margin: 0;
  padding: 20px 0;
  font-size: 1.7em;
  line-height: 20px;
  color: #000;
}

/**********Info************/
.info-wrapper{
  padding: 2.5em 0;
}

.info{
  width: 100%;
}

.wrapper{
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.info .row{
  background-color: #628D8C;
  border: 0.15em solid darkgray;
}

.info .about-us{
  border-right: 0.15em solid darkgray;
  padding: 2.5em;
}

.info .news{
  height: 236px;
  border-right: 0.15em solid darkgray;
  padding: 3em;
}

.row h4.text{
  font-family: KGHappySolid;
  font-size: 1.5em;
  color: #fff;
} 

.row p.text-content{
  font-size: 1em;
}

.row p.copy-right{
  color: #8ba3b2;
}

.row .email{
  font-family: KGHappySolid;
}

.info .social{
  height: 236px;
  padding: 2.5em;
}

.info .column .ic:first-child{
  padding-left: 0;
}

.info .column .ic{
  padding: 0.5em;
  font-size: 1.5em;
}